absl-py==0.13.0
flax==0.3.6
gin-config @ git+https://github.com/google/gin-config@243ba87b3fcfeb2efb4a920b8f19679b61a6f0dc
imageio==2.9.0
immutabledict==2.2.0
jax==0.2.26
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.1.75+cuda11.cudnn82-cp38-none-manylinux2010_x86_64.whl
Markdown==3.3.4
matplotlib==3.4.3
mediapy==1.0.3
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
optax==0.0.9
pandas==1.3.5
pexpect==4.8.0
Pillow==9.0.0
scipy==1.7.1
tensorflow==2.7.0
tensorflow-graphics==2021.12.3
tqdm==4.62.2
