absl-py==0.13.0
astunparse==1.6.3
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.10
chex==0.1.0
clang==5.0
cycler==0.11.0
dill==0.3.4
dm-tree==0.1.6
flatbuffers==1.12
flax==0.3.4
gast==0.4.0
gin-config @ git+https://github.com/google/gin-config@243ba87b3fcfeb2efb4a920b8f19679b61a6f0dc
google-auth==2.5.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
h5py==3.1.0
idna==3.3
imageio==2.9.0
immutabledict==2.2.0
importlib-resources==5.4.0
jax==0.2.20
jaxlib==0.1.75+cuda11.cudnn82
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
Markdown==3.3.4
matplotlib==3.4.3
msgpack==1.0.3
networkx==2.6.3
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
OpenEXR==1.3.2
opt-einsum==3.3.0
optax==0.0.9
pandas==1.4.0
Pillow==8.3.2
promise==2.3
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.7.1
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-addons==0.15.0
tensorflow-datasets==4.5.0
tensorflow-estimator==2.7.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-metadata==1.6.0
termcolor==1.1.0
toolz==0.11.2
tqdm==4.62.2
trimesh==3.9.43
typeguard==2.13.3
typing-extensions==3.7.4.3
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.12.1
zipp==3.7.0
